<div class="container">
    <div class="row">
        <h3>This is AppComponent</h3>
        <hr>
        <app-servers></app-servers>  <!-- /// displays servers component --> 
        <!--<div app-servers></div> --> <!-- /// displays servers component when passed as an attribute -->
        <!--<div class="app-servers"></div> --> <!-- /// displays servers component when passed as a class-->
        <!--<app-success-alert></app-success-alert>-->
        <!--<app-warning-alert></app-warning-alert>-->
    </div>
</div>

